{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{asset('assets/css/custoAvailability.css')}}">
{% endblock %}

{% block body %}
	<h2>Disponibilité Global</h2>
	<div id="listAvailability"></div>
	<div id="start_date_time"></div>
	<div id="end_date_time"></div>
	{{ form_start(availabilityForm) }}
	{{ form_row(availabilityForm.game)}}
	<h2 id="confirmGame"></h2>
	<div>
		<img src="" alt="">
	</div>
	<div id="start_date_time_2"></div>
	<div id="end_date_time_2"></div>
	{{ form_end(availabilityForm) }}
{% endblock %}
