{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{asset('assets/css/custoAvailability.css')}}">
{% endblock %}

{% block body %}
	<h2>Disponibilité Global</h2>
	<div>
		<p id="statusAjaxGlobal"></p>
	</div>
	<div id="listAvailabilityGlobal">
		{% for availabilityGlobal in availabilitiesGlobal %}
			<div class="availability">
				<p>{{ availabilityGlobal.startDate | date("H:i d/m/Y", "Europe/Paris")}}
					=>
					{{ availabilityGlobal.endDate | date("H:i d/m/Y", "Europe/Paris") }}</p>
				<button class="ajaxDeleteAvailabilityGlobal">x</button>
			</div>
		{% endfor %}
	</div>
	<div id="start_date_time"></div>
	<div id="end_date_time"></div>
	<button id="ajaxSendGlobal">Valider</button>
	{{ form_start(availabilityForm) }}
	{{ form_row(availabilityForm.game)}}
	<div>
		<p id="statusAjax"></p>
	</div>
	<div id="listAvailability">
		{% for availability in availabilities %}
			<div class="availability">
				<p>{{ availability.startDate | date("H:i d/m/Y", "Europe/Paris")}}
					=>
					{{ availability.endDate | date("H:i d/m/Y", "Europe/Paris") }}</p>
				<button class="ajaxDeleteAvailability">x</button>
			</div>
		{% endfor %}
	</div>
	<h2 id="confirmGame"></h2>
	<div>
		<img src="" alt="">
	</div>

	<div id="start_date_time_2"></div>
	<div id="end_date_time_2"></div>
	<button id="ajaxSend">Valider</button>
	{{ form_end(availabilityForm) }}
	<script src="{{ asset('assets/js/ajaxAvailability.js')}}"></script>
	<script>
		var urlAddGlobalAvailability = "{{ path('app_add_globalAvailability') | escape('js') }}";
var urlListGameAvailability = "{{ path('app_availability_listgame') | escape ('js') }}";
var urlAddAvailability = "{{ path('app_add_availability') | escape('js') }}";
var urlDeleteAvailabilityGlobal = "{{ path('app_delete_globalAvailability') | escape('js') }}";
var urlDeleteAvailability = "{{ path('app_delete_availability') | escape('js') }}";
	</script>
{% endblock %}
