{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/custoUser.css')}}">  
{% endblock stylesheets %}
{% block body %}
<main class="col-12 d-flex justify-content-center">
    <form class="col-12 d-flex align-items-center flex-column" method="post">
        <h1 class="text-neon-pink text-center">CONNEXION</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}


        <div class="col-9 d-flex justify-content-center my-5">
            <label class="text-neon-blue text-center col-1" for="pseudo" >PSEUDO: </label>
            <input class="mx-5 px-3 blue_transparent col-7 rounded" type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
        </div>
        <div class="col-9 d-flex justify-content-center my-5">
            <label class="text-neon-blue text-center col-1" for="password" >PASSWORD: </label>
            <input class="mx-5 px-3 blue_transparent col-7 rounded" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
        </div>
        <button class="no-deco" type="submit">
            <a class="text-center my-5 btn" style="--clr:var(--primary-light)" name="valider"><span>Valider</span><i></i></a>
        </button>
    

        {# <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required> #}

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        {# <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button> #}
    </form>
</main>
{% endblock %}
