{% extends 'base.html.twig' %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{% block title %}S'enregistrer{% endblock %}

{% block body %}
<ul class="cover">
            <li class="cover-register"></li>
</ul>
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-neon-pink">inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email)}}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword)}}
        {# {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe: '
        }) }} #}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit">
            <a class="text-center my-5 btn" style="--clr:var(--primary-light)" name="valider"><span>S'inscrire</span><i></i></a>
        </button>
    {{ form_end(registrationForm) }}
{% endblock %}
