{% extends 'base.html.twig' %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{% block body %}
<div class="d-flex flex-column m-5">
    <h1 class="m-5 text-center">{{ group.nameGroup}}</h1>
    {% if group.accesGroup == 1 %}
    <p>Groupe public, accesible a tous sans confirmation de demande par le créateur du groupe.</p>
    {% else %}
    <p>Groupe privé, le créateur de groupe doit confirmer les demandes en attente d'integration du groupe.</p>    
    {% endif %}
    <p>{{ group.descriptionGroup }}</p>
    <div>
        <div class="d-flex justify-content-center">
            <h4 class="mx-5">Membres</h3>
            <div>
                <h4>Rang</p>
            </div>
        </div>
        {% for users in group.userGroups %}
        <div class="d-flex justify-content-center">
            {% for user in users.idUser %}
            <p class="mx-5">{{user.username}}</p>
            {% endfor %}
            <p>{{users.role}}</p>
        </div>
        {% endfor %}
    </div>
    <div>

    </div>
</div>
{% endblock body %}