{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
	{# <ul class="cover">
            <li class="cover-group"></li>
</ul> #}
	<div class="d-flex cover-group block-page col-12 flex-column align-items-center">
		<h1 class="text-neon-blue">Gestionnaire de groupe</h1>
		<h2>Groupe que vous pouvez rejoindre :
		</h2>
		{% if groupes %}
		<table class="groupes">
				<thead>
				<tr>
				<th class="p-2">Nom</th>
				<th class="p-2">Pseudo</th>
				<th class="p-2">Rôle</th>
				<th class="p-2">Option</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
				<td colspan="4">
				<div class="links"><a href="#">&larr;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&rarr;</a></div>
				</td>
				</tr>
				</tfoot>
				<tbody>
				{% for group in groupes %}
				<tr>
					<td class="p-2">{{ group.nameGroup }}</td>
					{% for users in group.userGroups %}
						{% if users.role == 'Createur' %}
							{% for user in users.idUser %}
								<td class="p-2">{{ user.username}}</td>
							{% endfor %}
							<td class="p-2">{{ users.role}}</td>
						{% endif %}   
					{% endfor %}
					<td>
						<a href="{{ path('app_detail_group', { 'id': group.id})}}" class="p-2 rounded mx-2">Détails</a>
					</td>
				</tr>
				
			{% endfor %}
				</tbody>
		</table>	
		{% else %}
			<p>Il n'y a aucun groupe disponible pour le moment.</p>
		{% endif %}
		<h2 id="listUserGroup" class="text-neon-pink mt-5 mb-3">Votre liste de groupes</h2>
		<table class="groupes">
			{% if userGroupes %}
				<thead>
				<tr>
				<th class="p-2">Nom</th>
				<th class="p-2">Pseudo</th>
				<th class="p-2">Rôle</th>
				<th class="p-2">Option</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
				<td colspan="4">
				<div class="links"><a href="#">&larr;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&rarr;</a></div>
				</td>
				</tr>
				</tfoot>
				<tbody>
				{% for groupe in userGroupes %}
				<tr class="groupe">
					<td class="p-2">{{ groupe.nameGroup }}</td>
					{% for user in groupe.users  %}
						{% if user.role == 'Createur' %}
						<td class="p-2">{{ user.username}}</td>
						<td class="p-2">{{ user.role}}</td>
						{% endif %}   
					{% endfor %}
					<td>
						<a href="{{ path('app_detail_group', { 'id': groupe.id})}}" class="p-2 rounded mx-2">Détails</a>
					</td>
				</tr>
				
			{% endfor %}
				</tbody>
				{% else %}
				<p id="nothing">Vous n'avez aucune appartenance a aucun groupe.</p>
				{% endif %}
			</table>
		<h2 class="text-neon-pink mt-5 mb-3">Créer votre groupe</h2>
		{{ form_start(groupForm) }}
		<div class="row">
			<div class="d-flex justify-content-between">
				{{ form_row(groupForm.nameGroup)}}
			</div>
			<div class="d-flex justify-content-between">
				{{ form_row(groupForm.descriptionGroup)}}
			</div>
			<div class="d-flex justify-content-between">
				{{ form_row(groupForm.accesGroup)}}
			</div>
		</div>
		<button id="ajaxAdd" type="submit">
            <a class="text-center my-5 btn" style="--clr:var(--primary-light)" name="valider"><span>Valider</span><i></i></a>
        </button>
		{{ form_end(groupForm) }}
	</div>

	<script src="{{ asset('assets/js/ajaxGroup.js')}}"></script>
	<script>
		var urlAddGroup = "{{ path('app_add_group')| escape('js') }}";
var urlDetailGroup = "{{ path('app_detail_group', {'id': 'id'}) |escape('js') }}";
	</script>
{% endblock body %}
