{% extends 'base.html.twig' %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{% block body %}
	<div class="d-flex col-12 flex-column align-items-center">
		<h1 class="text-neon-blue">Gestionnaire de groupe</h1>

		{% if userGroupes %}
			{% for groupe in userGroupes %}
				<div class="d-flex m-3 groupe">
					<h2>{{ groupe.nameGroup}}</h2>
					{% for user in groupe.users %}
					<p>{{ user.username}}</p>
					<p>{{ user.role}}</p>
					{% endfor %}
					<a href="{{ path('app_detail_group', { 'id': groupe.id})}}" class="p-2 rounded mx-5">Détails</a>
				</div>
			{% endfor %}
		{% endif %}
		{{ form_start(groupForm) }}
		<button id="ajaxAdd" type="submit">Valider</button>
		{{ form_end(groupForm) }}
	</div>
	<script src="{{ asset('assets/js/ajaxGroup.js')}}"></script>
	<script>
		var urlAddGroup = "{{ path('app_add_group')| escape('js')}}";
		var urlDetailGroup = "{{ path('app_detail_group', {'id': 'id'}) |escape('js')}}";
	</script>
{% endblock body %}
