<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/neon.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <nav id="navbar" class="navbar navbar-expand-md bg-dark text-light fixed-top">
            <a href="#nav" class="navbar-toggler" data-bs-toggle="collapse">
                <i class="fa fa-bars fa-2x text-light"></i></a>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav px-4">
                    <li class="nav-item"><a href="/" class="nav-link text-light ">Accueil</a></li>
                    <li class="nav-item"><a href="/game" class="nav-link text-light ">Jeux</a></li>
                    <li class="nav-item"><a href="/group" class="nav-link text-light ">Groupes</a></li>
                    <li class="nav-item"><a href="/" class="nav-link text-light ">Calendrier</a></li>
 
                    <li class="nav-item dropdown"><a href="" data-bs-auto-close="outside" class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown">Administration</a>
                                    <ul class="dropdown-menu bg-dark">
                                        <li class="dropdown-item"><a href="/users" class="nav-link text-light">Utilisateur</a></li>
                                        <li class="dropdown-item"><a href="/games" class="nav-link text-light">Jeux</a></li>
                                        <li class="dropdown-item"><a href="/groups" class="nav-link text-light">Groupes</a></li>
                                    </ul>
                </ul>
            </div>
            
                <a href='/login' class='text-light' ><i class='fa fa-user-secret'></i> Se connecter</a>
                <a href='/logout' class='text-light' ><i class='fa fa-user-ninja'></i> Deconnecter</a>


        </nav>
        <div  class="d-flex justify-content-around mt-5 pt-5">
                {% block body %}{% endblock %}
        </div>
        <footer id="footer" class="bg-dark fixed-bottom p-2">
        </footer>
    </div>
    </body>
</html>
