<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/neon.css')}}">
        <link rel="stylesheet" href="{{asset('assets/fontawesome/css/all.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    
                


        <div class="d-flex justify-content-around mt-5 pt-5">
                {% block body %}{% endblock %}
        </div>
        <footer id="footer" class="bg-light fixed-bottom p-2 d-flex justify-content-around">
            <div>
                <a class="discord btn-round" target="_blank" href="#"><i class="fa-brands fa-discord "></i></a>
                <a class="instagram btn-round" target="_blank" href="#"><i class="fa-brands fa-instagram "></i></a>
                <a class="twitter btn-round" target="_blank" href="#"><i class="fa-brands fa-twitter "></i></a>
                <a class="tiktok btn-round" target="_blank" href="#"><i class="fa-brands fa-tiktok "></i></a>
                <a class="facebook btn-round" target="_blank" href="#"><i class="fa-brands fa-facebook "></i></a>
                <a class="youtube btn-round" target="_blank" href="#"><i class="fa-brands fa-youtube "></i></a>
            </div>
            <div> 
                <a href="#">Mentions légales</a> | 
                <a href="#">Conditions d’utilisations </a> | 
                <a href="#">Politique de confidentialité </a> | 
                <a href="#">Nous contacter</a>
            </div>
        </footer>
    </div>
    <script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
    </body>
</html>
